In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
import seaborn as sns
sns.set() # устанавливаем seaborn как по-умолчанию для отрисовки графиков

In [22]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [23]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [24]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
columns_target=["Survived"] #Выжившие
columns_train=['Pclass', 'Sex', 'Age', 'Fare'] #Показатели
y=train[columns_target]
x=train[columns_train]

In [26]:
#Проверка на пустые значения
print('Пропущенных ячеек в классе:', x['Pclass'].isnull().sum())
print(type(x['Pclass'][1]))

print('Пропущенных ячеек в пол:', x['Sex'].isnull().sum())
print(type(x['Sex'][1]))

print('Пропущенных ячеек в возрасте:', x['Age'].isnull().sum())
print(type(x['Age'][1]))

print('Пропущенных ячеек в SibSp:', x['Fare'].isnull().sum())
print(type(x['Fare'][1]))

Пропущенных ячеек в классе: 0
<class 'numpy.int64'>
Пропущенных ячеек в пол: 0
<class 'str'>
Пропущенных ячеек в возрасте: 177
<class 'numpy.float64'>
Пропущенных ячеек в SibSp: 0
<class 'numpy.float64'>

In [27]:
x['Age']=x['Age'].fillna(x['Age'].median)
print('Пропущенных ячеек в возрасте:', x['Age'].isnull().sum())

dict_F_M = dict([('female', 0), ('male', 1)])
print(dict_F_M)
x['Sex']=x['Sex'].apply(lambda k:dict_F_M[k])

Пропущенных ячеек в возрасте: 0
{'female': 0, 'male': 1}

C:\Users\Виталий\AppData\Local\Temp\ipykernel_28456\3354616246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Age']=x['Age'].fillna(x['Age'].median)
C:\Users\Виталий\AppData\Local\Temp\ipykernel_28456\3354616246.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Sex']=x['Sex'].apply(lambda k:dict_F_M[k])

In [15]:
print('Пропущенных ячеек в возрасте:', x['Age'].isnull().sum())

Пропущенных ячеек в возрасте: 0

In [30]:
print(x['Sex'])
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y)
#Метод опорных векторов 
from sklearn import svm

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [31]:
predmodel = svm.LinearSVC()

In [33]:
predmodel.fit(x_train,y_train)

TypeError: float() argument must be a string or a real number, not 'method'